/* base element styles */
body {
	overflow-y: scroll;
	font: normal 16px/1.2 sans-serif;
	margin: 2.8em auto;
	padding: 0 8px 8px;
	max-width: 600px;
	min-width: 480px;
	background: white;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.7;
	border-bottom: 1px solid #ddd;
	margin: 1.2em 0 12px;
}

h1 { font-size:   2.4em; } /* 2.4em * (5 / 6)^0 */
h2 { font-size:     2em; } /* 2.4em * (5 / 6)^1 */
h3 { font-size: 1.666em; } /* 2.4em * (5 / 6)^2 */
h4 { font-size: 1.388em; } /* 2.4em * (5 / 6)^3 */
h5 { font-size: 1.157em; } /* 2.4em * (5 / 6)^4 */

[hidden] {
	display: none !important;
}

table {
	border-collapse: collapse;
}



/* helper classes */
.box {
	margin-top: 1.3125em;
}

.pull-right {
	float: right;
}

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.plain-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Clearfix */
.cf { *zoom:1 }
.cf:after {
	content: "";
	display: table;
	clear: both;
}



/* module mods */
.field-row {
	margin-top: 1.3125em;
}

label.field-row input,
label.field-row-top input,
label.field-row select,
label.field-row-top select {
	margin-top: 0.12em;
}

.small-btn {
	font-size: .8em;
}