[submodule "js/object-subscribe"]
	path = js/object-subscribe
	url = https://github.com/Daniel-Hug/object-subscribe.git
[submodule "js/tabbed-panels"]
	path = js/tabbed-panels
	url = http://github.com/daniel-hug/tabbed-panels
[submodule "css/FatUI"]
	path = css/FatUI
	url = https://github.com/Daniel-Hug/FatUI.git
[submodule "js/DDS"]
	path = js/DDS
	url = https://github.com/Daniel-Hug/DDS.git